//- filepath: d:\Github\TPD\1stNodeJsProject\views\shared\error.pug
extends ../shared/layout

block content
  .container.mt-5
    .alert.alert-danger
      h2 Error!
      p= message
      if error && error.stack
        pre= error.stack
    a.btn.btn-primary.mt-3(href="/") Quay về trang chủ