//- filepath: d:\Github\TPD\1stNodeJsProject\views\shared\error.pug
extends ../shared/layout

block content
  h1 Error
  h2= message
  if error.status
    p Status: #{error.status}
  if error.stack
    pre= error.stack