//- filepath: d:\Github\TPD\1stNodeJsProject\views\user\forgotPassword.pug
extends layout

block content
  h1 Forgot Password
  form(method="POST", action="/auth/forgotpassword")
    .mb-3
      label.form-label(for="email") Enter your email
      input.form-control(type="email", name="email", id="email", required)
    button.btn.btn-danger(type="submit") Send Reset Link
    a.btn.btn-secondary.ms-2(href="/auth/login") Back to Login
