//- filepath: d:\Github\TPD\1stNodeJsProject\views\user\resetPassword.pug
extends layout

block content
  h1 Reset Password
  form(method="POST", action=`/auth/resetpassword/${token}`)
    .mb-3
      label.form-label(for="newpassword") New Password
      input.form-control(type="password", name="newpassword", id="newpassword", required)
    .mb-3
      label.form-label(for="confirmpassword") Confirm New Password
      input.form-control(type="password", name="confirmpassword", id="confirmpassword", required)
    button.btn.btn-success(type="submit") Reset Password
    a.btn.btn-secondary.ms-2(href="/auth/login") Back to Login
